@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: 17, 73, 124;
  --secondary-bg: 215, 229, 240;
  --secondary-color: 96, 168, 211;
}

body {
  background: rgb(var(--primary-bg));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-primary {
  background-color: rgb(var(--primary-bg));
}

.bg-secondary {
  background-color: rgb(var(--secondary-bg));
}

.text-secondary {
  color: rgb(var(--secondary-color));
}
