@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: 17, 73, 124;
  --secondary-bg: 215, 229, 240;
  --side-bg: 2, 23, 65;
  --main-color: 96, 168, 211;
  --grey-color: 200, 200, 200
}

body {
  background: #FFFFFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-primary {
  background-color: rgb(var(--primary-bg));
}

.bg-secondary {
  background-color: rgb(var(--secondary-bg));
}

.bg-side {
  background-color: rgb(var(--side-bg));
}

.text-main {
  color: rgb(var(--main-color));
}

.bg-main {
  background-color: rgb(var(--main-color));
}

.text-grey {
  color: rgb(var(--grey-color));
}
